<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>BEST:BOOTSTRAP THEME by creativeLabs</title>
    <meta name="description" content="Best:Bootstrap Theme"/>
    <meta name="keywords" content="Template, Theme, web, html5, css3" />
    <meta name="author" content="Łukasz Holeczek from creativeLabs"/>
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: Facebook Open Graph -->
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="/css/DroidSans.css">
    <link rel="stylesheet" type="text/css" href="/css/DroidSerif.css">
    <link rel="stylesheet" type="text/css" href="/css/Boogalo.css">
    <link rel="stylesheet" type="text/css" href="/css/Economica.css">-->
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<!--start: Wrapper -->
<div id="wrapper">

    <div class="container">

        <header>
            <h1>Bohemia Admin</h1>
        </header>

        <!--start: Navigation-->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/admin/thun/categories/">Thun Categories</a></li>
                            <!--<li class="dropdown">
                                <a href="/admin/thun_categories" class="dropdown-toggle" data-toggle="dropdown">Thun Categories <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Navigation-->
    </div>

    <!--start: Container -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!--end: Container-->

</div>

<!--<div id="myModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Change</h3>
    </div>
    <div class="modal-body">
        <h4>New value</h4>
        <input type="text"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>-->

<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.8.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/flexslider.js"></script>
<script src="/js/carousel.js"></script>
<script def src="/js/custom.js"></script>
<script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/js/jquery.smooth-scroll.min.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/admin.js"></script>

<!-- end: Java Script -->

</body>
</html>
