{% extends 'layout.html.twig' %}
{% form_theme form 'form/theme.twig' %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="span12">
                    <form id="edit-form" method="post" {{ form_enctype(form) }}>
                        <dl class="dl-horizontal">
                            {{ form_widget(form) }}
                            <dd><button class="btn btn-primary">Save changes</button></dd>
                        </dl>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}